body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

/* HERO */
.hero {
  height: 90vh;
  background: url('../source/hero.webp') center/cover;
}

.overlay {
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}

/* GRID */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 280px;
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  padding: 10px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.modal img {
  max-width: 90%;
  margin-top: 50px;
}

#cerrar {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}